<div class="container">
        <div class="row">
            <div class="col-sm-6 pull-left">
                &copy; @DateTime.Now.Year devNorthwest
            </div>
            <div class="col-sm-6 pull-right">
                <a href="https://www.instagram.com" class="float-right p-1 text-muted"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com" class="float-right p-1 text-muted"><i class="fa fa-youtube-square"></i></a>
                <a href="https://www.twitter.com" class="float-right p-1 text-muted"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com" class="float-right p-1 text-muted"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
</div>
    
