@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.navbar .navbar-collapse ul .nav-item .nav-link:hover {
  color: #000000; }

footer {
  background-color: black; }
  footer a:hover {
    color: white !important; }

.btn-learn-more {
  background-color: black !important;
  color: white !important;
  border: none !important;
  box-shadow: 0 0 5px white; }

.btn-learn-more:hover, .btn-learn-more:focus, .btn-learn-more:active, .btn-learn-more.active, .open > .dropdown-toggle.btn-learn-more {
  background: #3c3e42 !important; }

.fill-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-left: 0px !important;
  padding-right: 0px !important; }
  .fill-image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%; }

.navbar .abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px; }

