<div class="row container-tile">
    <div class="row">
        <div class="col-sm-4 fill-image">
            <img src="~/Content/Images/Tile/tile-1.jpg" alt="Image of Tile 1" />
            <div class="fill-image-text">At vero eos et accusamus</div>
        </div>
        <div class="col-sm-4 fill-image">
            <img src="~/Content/Images/Tile/tile-2.jpg" alt="Image of Tile 2" />
            <div class="fill-image-text">At vero eos et accusamus</div>
        </div>
        <div class="col-sm-4 fill-image">
            <img src="~/Content/Images/Tile/tile-3.jpg" alt="Image of Tile 3" />
            <div class="fill-image-text">At vero eos et accusamus</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 fill-image">
            <img src="~/Content/Images/Tile/tile-4.jpg" alt="Image of Tile 4" />
            <div class="fill-image-text">At vero eos et accusamus</div>
        </div>
        <div class="col-sm-4 fill-image">
            <img src="~/Content/Images/Tile/tile-5.jpg" alt="Image of Tile 5" />
            <div class="fill-image-text">At vero eos et accusamus</div>
        </div>
        <div class="col-sm-4 fill-image">
            <img src="~/Content/Images/Tile/tile-6.jpg" alt="Image of Tile 6" />
            <div class="fill-image-text">At vero eos et accusamus</div>
        </div>
    </div>
</div>
