<div class="row bg-dark">
    <div class="container content p-5 container-alternating">
        <div class="row p-1">
            <div class="col-sm-6 fill-image p-1">
                <img src="~/Content/Images/alternating/alternating-1.jpg" alt="Image of Alteranting 1" />
            </div>
            <div class="col-sm-6 p-5 text-white">
                <h3>LOREM IPSUM</h3>
                <p>
                    Lorem ipsum dolor sit amet, consecteteur adipiscing elit, sed do eius tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamaco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#" class="text-white a-read-more">Read more here <i class="fa fa-caret-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="row p-1 flex-column-reverse flex-sm-row">
            <div class="col-sm-6 p-5 text-white">
                <h3>QUIS AUTEM</h3>
                <p>
                    Lorem ipsum dolor sit amet, consecteteur adipiscing elit, sed do eius tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamaco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#" class="text-white a-read-more">Read more here <i class="fa fa-caret-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-sm-6 fill-image p-1">
                <img src="~/Content/Images/alternating/alternating-2.jpg" alt="Image of Alteranting 2" />
            </div>
        </div>
    </div>
</div>
