.btn-learn-more{
    background-color:black !important;
    color:white !important;
    border:none !important;
    box-shadow:0 0 5px white;
    
}

.btn-learn-more:hover, .btn-learn-more:focus, .btn-learn-more:active, .btn-learn-more.active, .open > .dropdown-toggle.btn-learn-more {
    background: #3c3e42 !important;
}
 